/* General */
#signup {

  .main-bkg {
    background-color: #eaf0f2;
    min-width: 100%;
    padding: 60px 20px;
  }

  .main-container {
    width: 1000px;
    margin: 0 auto;
  }

  .col-left,
  .col-right {
    vertical-align: top;
  }

  .col-left {
    display: inline-block;
    width: 580px;
    padding-top: 40px;
    padding-right: 50px;
  }

  .col-left h2 {
    padding-bottom: 10px;
    line-height: 1.25em;
  }

  table.feature {
    border-collapse: separate;
    border-spacing: 18px 30px;
    margin-left: -18px;
  }

  table.feature td {
    vertical-align: middle;
  }

  table.feature td:first-child {
    text-align: center;
  }

  .feature span {
    font-weight: 600;
    padding-right: 10px;
  }

  .feature img {
    height: 45px;
    object-fit: scale-down;
  }

  .feature .smaller {
    font-weight: 400;
    color: #666;
    font-size: .9em;
  }

  .col-right {
    display: inline-block;
    width: 350px;
  }

  .col-right h3 {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .col-right input {
    width: 100%;
  }

  .input {
    margin: 5px 0;
    font-size: 1.2em;
    height: 2.2em;
    padding-left: 12px;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
  }

  .form h3 {
    padding-bottom: 10px;
  }

  .form select {
    height: 30px;
    padding: 5px;
    border: solid 1px #bdc7d8;
  }

  #button {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: 600;
    display: block;
    color: #fff;
    background: #eaf0f2;
    background: -webkit-linear-gradient(#73b25e, #578843);
    background: -o-linear-gradient(#73b25e, #578843);
    background: -moz-linear-gradient(#73b25e, #578843);
    height: 40px;
    width: 200px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 2px 2px #436935;
  }

  .login-footer {
    font-size: .75em;
    color: #888;
    width: 1000px;
    margin: 10px auto;
    padding-left: 10px;
  }

  .fa {
    font-size: 3em;
  }
}

/* form */
input[type=text] {
  border: 2px solid #55a5df;
  border-radius: 5px;
  width: 500px;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
}


/* Feed */
.panel {
    margin-bottom: 30px;
    padding: 30px;
    width: 600px;
    color: #696969;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    margin-left: auto;
    margin-right: auto;
}

.panel-heading {
    color: #393939;
    padding: 10px 20px;
    border-width: 0;
    border-radius: 0;
}

.panel-heading:after,
.panel-heading:before {
    content: " ";
    display: table;
}

.panel-heading:after {
    clear: both;
}

.panel-title {
    float: left;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel-activity__list {
    list-style: none;
}

.activity__list__header {
    position: relative;
    min-height: 35px;
    padding-top: 4px;
    padding-left: 45px;
    color: #999;
    z-index: 0;
}

.activity__list__body {
    padding-top: 13px;
    padding-left: 43px;
}

.activity__list__footer {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin-top: 23px;
    margin-left: 43px;
    padding: 13px 8px 0;
    color: #999;
    border-top: 1px dotted #ccc;
}

.activity__list__footer a {
    color: inherit;
}

.activity__list__footer a + a {
    margin-left: 15px;
}

.activity__list__footer i {
    margin-right: 8px;
}

.activity__list__footer a:hover {
    color: #fff;
}

.activity__list__footer span {
    margin-left: auto;
}

.panel-activity__list > li + li {
    margin-top: 51px;
}
